@import "../../styles/colors.scss";

.property {
  &__container {
    .logo-image {
      margin: 10px 0;
    }
  }
  &-image {
    width: 100%;
    object-fit: contain;
  }

  &-header {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  &-footer {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }

  &-price {
    font-weight: 600;
    font-size: 1.25em;
  }

  &-button {
    border: none;
    border-radius: 3px;
    width: 133px;
    height: 100%;
    outline: 0;
    color: #fff;
    font-size: 1.125em;
    font-weight: 500;
    background-color: $sky-blue;
    &:hover {
      background-color: $sky-blue-highlight;
    }
  }

  &-button--saved {
    background-color: $crimson;
    &:hover {
      background-color: $crimson-highlight;
    }
  }
}
