@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.property {
  &__container {
    border-radius: 5px;
    border: solid 1px $property-border;
    box-shadow: 0 1px 2px 0 $property-box-shadow-color;
    .logo-image {
      margin: 10px 0;
    }

    @media (min-width: $desktop) {
      &:hover {
        .property-button {
          display: block;
        }
      }
    }
  }
  &-image {
    width: 100%;
    object-fit: contain;
  }

  &-header {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  &-footer {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }

  &-price {
    font-weight: 600;
    font-size: 1.25em;
  }

  &-button {
    cursor: pointer;
    border: none;
    display: block;
    border-radius: 3px;
    width: 133px;
    height: 100%;
    outline: 0;
    color: #fff;
    font-size: 1.125em;
    font-weight: 500;
    background-color: $sky-blue;
    &:hover {
      background-color: $sky-blue-highlight;
    }

    @media (min-width: $desktop) {
      display: none;
    }
  }

  &-button--saved {
    background-color: $crimson;
    &:hover {
      background-color: $crimson-highlight;
    }
  }
}
